/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
*{
	outline: 1px solid #000;
}
*/
/*
*,*:before,*:after{
	box-sizing: border-box;
}
*/

.wrap{
	width: 1000px;
	margin: 0 auto;
}

.header-menu{
	display: flex;
	justify-content: flex-end;
	padding-top: 5px;
	padding-right: 5px;
}

.header-menu li .facebook{
	color: #5c74ab;
}

.header-menu li .twitter{
	color: #00aaec;
}

.header-menu li .separator{
	color: #00cc99;
}

.header-menu li a{
	color: #37523d;
	text-decoration: none;
	padding: 0px 5px;
}

.header-menu li a:hover{
	color: #00ffa2;
}

.menu-content{
	display: flex;
	justify-content:space-between;
}

.menu{
	display: flex;
	justify-content:space-around;
	
}

.menu li:hover{
	color: #00ffa2;
	border-bottom: 2px solid #00cc99;
}

.menu li a{
	color: #00cc99;
	text-decoration: none;
	display: block;
	height: 20px;
	padding: 20px;
}

.menu-logo{  
    max-height: 100%;  
    max-width: 100%; 
}

.top-content {
	position: relative;
	text-align: center;
}

.centered {
	background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png);
	height: 345px;
	display: flex;
	align-items: center;
	/*
	position: absolute;
	top:30%;
	background:#382d2e;
	opacity: 0.2;
	*/
	/*
	background:rgba(22, 18, 18, 0.5);
	font-size: 35px;
	width: 100%;
	height: 160px;
	*/
}

.centered h1{
	text-align: left;
	line-height: 1.5;
	padding: 60px 20px;
	color: white;
	background:rgba(22, 18, 18, 0.5);
	font-size: 35px;
	width: 100%;
	/*height: 160px;*/
}

.main-content > ul{
	width: 1000px;
	display: flex;
	margin: auto;
}

.main-content > ul > li {
	/*list-style: none;*/
	width: 100%;
	box-shadow: 1px 1px 5px #f1f1f1;
	border: 1px solid #ccc;
	margin: 60px 10px;
	border-radius: 10px;
	padding: 30px;
	line-height: 1.5;
}

.main-content > ul > li > h2{
	text-align: center;
	font-weight: bold;
}

.main-content .img{
	margin: 10px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-content .img img{
	max-width: 100%;
}

.main-content .list{
	list-style: disc;
	padding-left: 20px;
}

.table-content h2{
	text-align: center;
	font-size: 20px;
	font-weight:bold;
	padding-bottom: 30px;
}

.table-content table{
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 auto;
}

.table-content table th{
	border-top: 1px solid #22b28e;
	border-bottom: 1px solid #22b28e;
	padding: 10px;
	text-align: left;
	font-weight: bold;
}

.table-content table td{
	border-bottom: 1px solid #22b28e;
	padding: 10px;
	width: 200px;
}

.table-content table .highlight{
	color: #22b28e;
}

.bottom-content {
	margin-top: 60px;
	margin-bottom: 25px;
	padding-top: 35px;
	padding-bottom: 25px;
	background: linear-gradient(#00654c,#009871);
}

.bottom-content h2{
	text-align: center;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 15px;
	line-height: 1.5;
}

.bottom-content .form-content{
	display: flex;
	justify-content:space-around;
	padding-top: 30px;
	color: white;
}

.bottom-content .form-content textarea{
	border-radius:5px;
	width: 450px;
}

.bottom-content .form-content input{
	display: block;
}

.bottom-content .form-content input[type="text"]{
	width: 460px;
	line-height: 20px;
	margin-top: 5px;
	margin-bottom: 20px;
	border-radius:5px;
}

.bottom-content .form-content .submitbtn{
	float: right;
	background:#00cc99;
	width: 70px;
	height: 35px;
	border: 0px;
	border-radius:5px;
	cursor: pointer;
}

.bottom-content .form-content .submitbtn:hover{
	background: #00ffa2;
}

/* 清除浮動(clear) ?!*/
.bottom-content .form-content .submitbtn:after{
	content:'';
	display: table;
	clear: both;
}

.footer{
	display: flex;
	justify-content:space-between;
}

.footer-info li{
	padding-bottom: 10px;
}

.footer-info a{
	color: #e965a2;
	text-decoration: none;
}
